In [4]:
#import libraries

In [5]:
import pandas as pd

In [6]:
import seaborn as sns

In [7]:
df = pd.read_csv("TWO_CENTURIES_OF_UM_RACES.csv")

C:\Users\Ramses\AppData\Local\Temp\ipykernel_27652\2350612576.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("TWO_CENTURIES_OF_UM_RACES.csv")

In [8]:
# See the data that's been imported

In [9]:
df.head(10)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
5,2018,06.01.2018,Selva Costera (CHI),50km,22,6:25:01 h,NaN,ARG,1974.0,M,M40,7.792,5
6,2018,06.01.2018,Selva Costera (CHI),50km,22,6:28:00 h,Los Patagones,ARG,1979.0,F,W35,7.732,6
7,2018,06.01.2018,Selva Costera (CHI),50km,22,6:32:24 h,Reaktiva Chile,CHI,1967.0,F,W50,7.645,7
8,2018,06.01.2018,Selva Costera (CHI),50km,22,6:39:08 h,Puro Trail Osorno,CHI,1985.0,M,M23,7.516,8
9,2018,06.01.2018,Selva Costera (CHI),50km,22,6:45:11 h,Marlene Flores Team,CHI,1976.0,M,M40,7.404,9

In [10]:
df.shape

(7461195, 13)

In [11]:
df.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete club                  object
Athlete country               object
Athlete year of birth        float64
Athlete gender                object
Athlete age category          object
Athlete average speed         object
Athlete ID                     int64
dtype: object

In [12]:
#clean up data

In [13]:
#Only want see USA Races, 50k or 50Mi, 2020

In [ ]:
#Step 1 show 50Mi or 50km

In [15]:
df[df['Event distance/length'] == '50km']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461089,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:19:56 h,*QLD,AUS,1956.0,F,W35,11541.0,1046326
7461090,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:28:57 h,*QLD,AUS,1954.0,M,M40,11154.0,1070007
7461091,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:46:39 h,*QLD,AUS,1951.0,M,M40,10466.0,345672
7461092,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:47:39 h,*QLD,AUS,1939.0,M,M55,10429.0,1082443
7461093,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,5:58:16 h,*QLD,AUS,1938.0,F,W55,8374.0,1082581

In [16]:
#combine 50km/50mi with isin

In [17]:
df[df['Event distance/length'].isin(['50km', '50mi'])]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [22]:
df[(df['Event distance/length'].isin(['50km', '50mi']))   &  (df['Year of event'] == 2020)    ]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2538571,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:34:19 h,日本隊,JPN,1965.0,M,M50,10.627,53107
2538572,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:43:50 h,NaN,AUS,1974.0,M,M45,10.409,8785
2538573,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:04:40 h,NaN,TPE,1976.0,M,M40,9.962,4502
2538574,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:30:49 h,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,9.452,63964
2538575,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:34:47 h,NaN,TPE,1964.0,M,M55,9.379,4485
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2762404,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:36:25 h,AKS Polonia Warszawa,POL,1981.0,F,W35,6.573,860743
2762405,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:36:27 h,*Warszawa,POL,1970.0,F,W45,6.572,860744
2762406,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:44:18 h,Outdoor Training,POL,1993.0,F,W23,6.461,860745
2762407,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,8:04:50 h,PH Bysewo Gdańsk,POL,1976.0,M,M40,6.188,798409
2762408,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,8:11:43 h,*Nowe Aleksandrowo,POL,1961.0,M,M55,6.101,860746

In [28]:
df[df['Event name']  == 'Everglades 50 Mile Ultra Run (USA)']['Event name'].str.split('(').str.get(1)

51923      USA)
51924      USA)
51925      USA)
51926      USA)
51927      USA)
           ...
6417091    USA)
6417092    USA)
6417093    USA)
6417094    USA)
6417095    USA)
Name: Event name, Length: 338, dtype: object

In [29]:
df[df['Event name']  == 'Everglades 50 Mile Ultra Run (USA)']['Event name'].str.split('(').str.get(1).str.split(')')

51923      [USA, ]
51924      [USA, ]
51925      [USA, ]
51926      [USA, ]
51927      [USA, ]
            ...
6417091    [USA, ]
6417092    [USA, ]
6417093    [USA, ]
6417094    [USA, ]
6417095    [USA, ]
Name: Event name, Length: 338, dtype: object

In [39]:
df[df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0) == 'USA']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [ ]:
#Combine all filters togheter

In [40]:
df[(df['Event distance/length'].isin(['50km'])) & (df['Year of event'] == 2020 )]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2538609,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:33:10 h,日本隊,JPN,1965.0,M,M50,10.982,53107
2538610,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:42:05 h,NaN,TPE,1976.0,M,M40,10.635,4502
2538611,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:50:59 h,NaN,AUS,1974.0,M,M45,10.31,8785
2538612,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:54:22 h,NaN,TPE,1964.0,M,M55,10.191,4485
2538613,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:59:08 h,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,10.029,63964
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2762404,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:36:25 h,AKS Polonia Warszawa,POL,1981.0,F,W35,6.573,860743
2762405,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:36:27 h,*Warszawa,POL,1970.0,F,W45,6.572,860744
2762406,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:44:18 h,Outdoor Training,POL,1993.0,F,W23,6.461,860745
2762407,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,8:04:50 h,PH Bysewo Gdańsk,POL,1976.0,M,M40,6.188,798409
2762408,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,8:11:43 h,*Nowe Aleksandrowo,POL,1961.0,M,M55,6.101,860746

In [41]:
df2 = df[(df['Event distance/length'].isin(['50km'])) & (df['Year of event'] == 2020 )]

In [42]:
df2.head(10)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2538609,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:33:10 h,日本隊,JPN,1965.0,M,M50,10.982,53107
2538610,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:42:05 h,NaN,TPE,1976.0,M,M40,10.635,4502
2538611,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:50:59 h,NaN,AUS,1974.0,M,M45,10.31,8785
2538612,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:54:22 h,NaN,TPE,1964.0,M,M55,10.191,4485
2538613,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:59:08 h,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,10.029,63964
2538614,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,5:13:18 h,日本隊,JPN,1964.0,M,M55,9.575,53124
2538615,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,5:15:21 h,日本隊,JPN,1964.0,M,M55,9.513,17276
2538616,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,5:20:45 h,NaN,TPE,1969.0,M,M50,9.353,53120
2538617,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,5:24:09 h,NaN,TPE,1974.0,M,M45,9.255,25369
2538618,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,5:26:11 h,NaN,TPE,1972.0,M,M45,9.197,50679

In [43]:
df2.shape

(55884, 13)

In [ ]:
#remove (USA) from event name

In [44]:
df2['Event name'].str.split('(').str.get(0)

2538609    Taipei 48hr Ultra Marathon - 50km
2538610    Taipei 48hr Ultra Marathon - 50km
2538611    Taipei 48hr Ultra Marathon - 50km
2538612    Taipei 48hr Ultra Marathon - 50km
2538613    Taipei 48hr Ultra Marathon - 50km
                          ...
2762404                 Bison Ultra-Trail 50
2762405                 Bison Ultra-Trail 50
2762406                 Bison Ultra-Trail 50
2762407                 Bison Ultra-Trail 50
2762408                 Bison Ultra-Trail 50
Name: Event name, Length: 55884, dtype: object

In [45]:
df2.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2538609,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:33:10 h,日本隊,JPN,1965.0,M,M50,10.982,53107
2538610,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:42:05 h,NaN,TPE,1976.0,M,M40,10.635,4502
2538611,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:50:59 h,NaN,AUS,1974.0,M,M45,10.31,8785
2538612,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:54:22 h,NaN,TPE,1964.0,M,M55,10.191,4485
2538613,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:59:08 h,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,10.029,63964

In [ ]:
#clean up athlete age

In [46]:
df2['athlete_age'] = 2020 - df2['Athlete year of birth']

C:\Users\Ramses\AppData\Local\Temp\ipykernel_27652\3897931444.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['athlete_age'] = 2020 - df2['Athlete year of birth']

In [47]:
#remove h from athlete preformance

In [49]:
df2['Athlete performance'] = df2['Athlete performance'].str.split(' ').str.get(0)

C:\Users\Ramses\AppData\Local\Temp\ipykernel_27652\2477507555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Athlete performance'] = df2['Athlete performance'].str.split(' ').str.get(0)

In [50]:
df2.head(5)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,athlete_age
2538609,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:33:10,日本隊,JPN,1965.0,M,M50,10.982,53107,55.0
2538610,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:42:05,NaN,TPE,1976.0,M,M40,10.635,4502,44.0
2538611,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:50:59,NaN,AUS,1974.0,M,M45,10.31,8785,46.0
2538612,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:54:22,NaN,TPE,1964.0,M,M55,10.191,4485,56.0
2538613,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:59:08,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,10.029,63964,51.0

In [ ]:
#drop columns: Athlete Club, Athlete Contry, Athlete year of birth, Athlete age category

In [52]:
df2 = df2.drop(['Athlete club', 'Athlete country', 'Athlete year of birth', 'Athlete age category'], axis =1)

In [53]:
df2.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
2538609,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:33:10,M,10.982,53107,55.0
2538610,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:42:05,M,10.635,4502,44.0
2538611,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:50:59,M,10.31,8785,46.0
2538612,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:54:22,M,10.191,4485,56.0
2538613,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:59:08,F,10.029,63964,51.0

In [ ]:
#clean up null values

In [54]:
df2.isna().sum()

Year of event                   0
Event dates                     0
Event name                      0
Event distance/length           0
Event number of finishers       0
Athlete performance             0
Athlete gender                  0
Athlete average speed           0
Athlete ID                      0
athlete_age                  3370
dtype: int64

In [55]:
df2[df2['athlete_age'].isna() == 1]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
2538819,2020,07.02.2020,Dead Sea Marathon Ein Bokek - 50km (ISR),50km,179,4:45:42,M,10.501,810085,NaN
2538831,2020,07.02.2020,Dead Sea Marathon Ein Bokek - 50km (ISR),50km,179,4:53:17,M,10.229,810092,NaN
2538904,2020,07.02.2020,Dead Sea Marathon Ein Bokek - 50km (ISR),50km,179,5:48:16,M,8.614,810136,NaN
2538913,2020,07.02.2020,Dead Sea Marathon Ein Bokek - 50km (ISR),50km,179,5:56:16,F,8.421,4033,NaN
2538927,2020,07.02.2020,Dead Sea Marathon Ein Bokek - 50km (ISR),50km,179,6:22:07,M,7.851,810149,NaN
...,...,...,...,...,...,...,...,...,...,...
2761020,2020,03.10.2020,China Meiling Int. Trail Running (CHN),50km,98,10:38:41,M,4.697,860362,NaN
2761021,2020,03.10.2020,China Meiling Int. Trail Running (CHN),50km,98,10:38:41,M,4.697,860363,NaN
2761027,2020,03.10.2020,China Meiling Int. Trail Running (CHN),50km,98,10:54:16,M,4.585,860364,NaN
2761041,2020,03.10.2020,China Meiling Int. Trail Running (CHN),50km,98,11:16:35,M,4.434,860367,NaN
2762359,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,6:39:50,M,7.503,860722,NaN

In [56]:
df2 = df2.dropna()

In [58]:
df2.shape

(52514, 10)

In [ ]:
#check for dupes

In [59]:
df2[df2.duplicated() == True]

Empty DataFrame
Columns: [Year of event, Event dates, Event name, Event distance/length, Event number of finishers, Athlete performance, Athlete gender, Athlete average speed, Athlete ID, athlete_age]
Index: []

In [ ]:
#reset index

In [60]:
df.reset_index(drop = True)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461190,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,4:33:20 h,NaN,FRA,NaN,M,NaN,14268.0,1151060
7461191,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,6:05:15 h,NaN,FRA,NaN,F,NaN,10678.0,1073520
7461192,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,241.000 km,*Budapest,HUN,1950.0,M,M40,10042.0,1047373
7461193,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,228.000 km,*Szeged,HUN,1959.0,M,M35,9500.0,380150
7461194,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,224.000 km,*Pecs,HUN,1958.0,M,M35,9333.0,1070482

In [ ]:
#fix types

In [61]:
df2.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete gender                object
Athlete average speed         object
Athlete ID                     int64
athlete_age                  float64
dtype: object

In [65]:
df2['athlete_age'] = df2['athlete_age'].astype(int)

In [66]:
df2['Athlete average speed'] = df2['Athlete average speed'].astype(float)

In [68]:
df2.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete gender                object
Athlete average speed        float64
Athlete ID                     int64
athlete_age                    int32
dtype: object

In [69]:
df2.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
2538609,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:33:10,M,10.982,53107,55
2538610,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:42:05,M,10.635,4502,44
2538611,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:50:59,M,10.310,8785,46
2538612,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:54:22,M,10.191,4485,56
2538613,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:59:08,F,10.029,63964,51

In [ ]:
#rename columns

In [ ]:
#Year of event                  int64
#Event dates                   object
#Event name                    object
#Event distance/length         object
#Event number of finishers      int64
#Athlete performance           object
#Athlete gender                object
#Athlete average speed        float64
#Athlete ID                     int64
#athlete_age                    int32
#dtype: object

In [72]:
df2 = df2.rename(columns = { 'Year of event': 'year' , 
                             'Event dates': 'race_day' , 
                             'Event name': 'race_name',
                           })

In [73]:
df2.head()

,year,race_day,race_name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
2538609,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:33:10,M,10.982,53107,55
2538610,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:42:05,M,10.635,4502,44
2538611,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:50:59,M,10.310,8785,46
2538612,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:54:22,M,10.191,4485,56
2538613,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50km (TPE),50km,38,4:59:08,F,10.029,63964,51

In [ ]:
#reorder columns

In [74]:
df3 = df2[['race_day', 'race_name', 'athlete_age']]

In [82]:
df3.head(10)

               race_day                                race_name  athlete_age
2538609  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           55
2538610  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           44
2538611  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           46
2538612  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           56
2538613  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           51
2538614  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           56
2538615  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           56
2538616  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           51
2538617  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           46
2538618  07.-09.02.2020  Taipei 48hr Ultra Marathon - 50km (TPE)           48

In [ ]:
#find 2 races in 2020 - Selva Costera (CHI)

In [85]:
df3[df3['race_name']  == 'Selva Costera (CHI)']

           race_day            race_name  athlete_age
2567352  04.01.2020  Selva Costera (CHI)           32
2567353  04.01.2020  Selva Costera (CHI)           39
2567354  04.01.2020  Selva Costera (CHI)           39
2567355  04.01.2020  Selva Costera (CHI)           32
2567356  04.01.2020  Selva Costera (CHI)           39
2567357  04.01.2020  Selva Costera (CHI)           32
2567358  04.01.2020  Selva Costera (CHI)           31
2567359  04.01.2020  Selva Costera (CHI)           39
2567360  04.01.2020  Selva Costera (CHI)           54
2567361  04.01.2020  Selva Costera (CHI)           51
2567362  04.01.2020  Selva Costera (CHI)           27
2567363  04.01.2020  Selva Costera (CHI)           35
2567364  04.01.2020  Selva Costera (CHI)           37
2567365  04.01.2020  Selva Costera (CHI)           46
2567366  04.01.2020  Selva Costera (CHI)           26
2567367  04.01.2020  Selva Costera (CHI)           49
2567368  04.01.2020  Selva Costera (CHI)           42
2567369  04.01.2020  Selva Costera (CHI)           42
2567370  04.01.2020  Selva Costera (CHI)           45
2567371  04.01.2020  Selva Costera (CHI)           71
2567372  04.01.2020  Selva Costera (CHI)           68
2567373  04.01.2020  Selva Costera (CHI)           32
2567374  04.01.2020  Selva Costera (CHI)           41
2567375  04.01.2020  Selva Costera (CHI)           56
2567376  04.01.2020  Selva Costera (CHI)           40
2567377  04.01.2020  Selva Costera (CHI)           52
2567378  04.01.2020  Selva Costera (CHI)           44
2567379  04.01.2020  Selva Costera (CHI)           52